<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>homepage</title>
</head>
<body>
    <h1>Homepage</h1>
    <p>This is just a little test to see if I know
    what I am doing.</p>
    <button type="button"><a href="\test">Click here for database info</a></button>
    <button type="button"><a href="\course">Click here for course</a></button>
    <button type="button"><a href="\insert">Click here to insert name</a></button>
    {% block content %}{% endblock %}
</body>
</html>